<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/base_style.css">
    <title>CSN</title>
	{% block meta_content %}{% endblock %}
</head>
<body>
<header>
	<nav class="nav nav-pills flex-column flex-sm-row">
		<a class="flex-sm-fill text-sm-center nav-link {% if company_page %}active{% endif %}" 
		{% if company_page %}aria-current="page"{% endif %} href="company_page">Объявления по фирме</a>
		<a class="flex-sm-fill text-sm-center nav-link {% if building_page %}active{% endif %}" 
		{% if company_page %}aria-current="page"{% endif %} href="building_page">Объявления по предприятию</a>
		<a class="flex-sm-fill text-sm-center nav-link {% if specialization_page %}active{% endif %}" 
		{% if company_page %}aria-current="page"{% endif %} href="specialization_page">Объявления по специализации</a>
		<a class="flex-sm-fill text-sm-center nav-link {% if person_page %}active{% endif %}" 
		{% if company_page %}aria-current="page"{% endif %} href="person_page">Персонализированные объявления</a>
	</nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
	{% if not current_user.is_authenticated and title != "Регистрация" and title != "Авторизация" %}
		<p id="log_btns">
			<a class="btn btn-primary log_btn" href="/register">Зарегистрироваться</a>
			<a class="btn btn-success log_btn" href="/login">Войти</a>
		</p>
	{% else %}
	{% endif %}
    {% block content %}{% endblock %}
</main>
</body>
</html>